# Environment
.env
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/
htmlcov/
.coverage
.coverage.*
.cache/
.pytest_cache/
coverage.xml
*.cover
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db 